.titreprincipal 
{
	text-align: center;
	 border-style: solid;
     border-width: 5px;
}

.naissance
{
	margin-top: 10;
}

.prenom
{
	margin-left: 10;
}

.mail
{
	margin-top: 10;
}

.photoCV
{
	float: right ;
}

.college
{
	color: navy; background-color: aqua;
	text-decoration: underline;
}

.lycee
{
	color: green; background-color: lime;
	text-decoration: underline;
}

.photocollege
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.photolycee
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.college
{
	background-color: #ADD8E6;
	border-radius:10px 10px;
}

.lycee
{
	background-color: #90EE90;
	border-radius:10px 10px;
}

.sitecollege
{
	display: block;
    text-align: center;
}

.sitelycee
{
	display: block;
    text-align: center;
}

table 
{
 border-collapse:collapse;
 width:30%;
 position: relative;
 left: 10px;
}

th, td 
{
 border:1px solid black;
 width:20%;
}

td 
{
 text-align:center;
}

.competences
{
	color: blue; background-color: yellow;
	text-decoration: underline;
}

.etudes
{
	color: red; background-color: blue;
	text-decoration: underline;
}